<!DOCTYPE html>
<html>
<head>
    <title>Beach House</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <base href="/"></base>
</head>

<header>
  <div class="vertical-list">
    <ul>
      <li><a href="/"> NODE House</a></li>
      <li><a href="/mixologist">Personal Mixologist</a></li>
      <li><a href="/photobooth">Photobooth</a></li>
      <li><a href="/boombox">Playlist</a></li>
    </ul>
  </div>
      <header>
    <nav>
        {{#if user}}
            <img src="{{user.t_photo_url}}" alt="{{user.name}}" /> Welcome, {{user.name}}!
            <a href="/logout">Sign out</a>
        {{else}}
            <a href="/login/twitter">Sign in</a>
        {{/if}}
    </nav>
<body>
<h1> Create artwork </br>
  Make logo</h1>

    {{{body}}}
</body>

</html>
