<!DOCTYPE html>
<html>
<head>
    <title>Beach House</title>
    <link rel="stylesheet/text/x-scss" href="/assets/css/styles.css.scss" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <base href="/" />
</head>
<body>
  <div class="vertical-list">
    <a href="/"> NODE House</a> | <a href="/mixologist">Personal Mixologist</a> | <a href="/photobooth">Photobooth</a> | <a href="/boombox">Playlist</a> | <a href="/contest">Contest</a> | <a href="/calendar">Calendar</a>
  </div>
    <nav>
        {{#if user}}
            <img src="{{user.t_photo_url}}" alt="{{user.name}}" /> Welcome, {{user.name}}!
            <a href="/logout">Sign out</a>
        {{else}}
            <a href="/login/twitter">Sign in</a>
        {{/if}}
    </nav>
    <div data-ng-app="beachhouse">
      <main data-ui-view></main>
    </div>
    <h1>layout main</h1>
    {{{body}}}
</body>
</html>
