<!DOCTYPE html>
<html lang="en ng-app">
<head>
    <title>Beach House</title>
    <link rel="stylesheet/text/x-scss" href="/assets/css/styles.css.scss" />
    <base href="/" />
</head>
<body>
  <div class="vertical-list">
    <a href="/"> NODE House</a> | <a href="/mixologist">Personal Mixologist</a> | <a href="/photobooth">Photobooth</a> | <a href="/boombox">Playlist</a> | <a href="/contest">Contest</a> | <a href="/calendar">Calendar</a>
  </div>
    <nav>
        {{#if user}}
            <img src="{{user.t_photo_url}}" alt="{{user.name}}" /> Welcome, {{user.name}}!
            <a href="/logout">Sign out</a>
        {{else}}
            <a href="/login/twitter">Sign in</a>
        {{/if}}
    </nav>
    {{{body}}}
</body>
</html>
